version: '3.8'

services:
  myapp:
    build: .
    ports:
      - "8888:8888"
    command: python main.py
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]